*{
    background-color: #f6e58d;
}
.header{
    display: flex;
    justify-content: space-between;
    border: 2px solid #eb4d4b;
    color: #eb4d4b;
    
}
.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
}
.logo-container > .logo{
    border-radius: 50%;
}
.logo{
    width: 100px;
}

.nav-items > ul{
    display: flex;
    padding: 0 10px;
    list-style-type: none;
    font-size: 22px;
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
.res-card{
    width: 250px;
    height: auto;
    padding: 8px;
    border: 2px solid #eb4d4b;
    background-color: #f6e58d;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}

.res-logo{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    /* padding: 0px 50px; */
}   

.filter-btn{
    background-color: blueviolet;
    color: white;
    padding: 5px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    margin: 20px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
}

.login-btn{
    padding: 0px 20px ;
    cursor: pointer;
}

.search{
    padding: 20px 0px;
    display: flex;
    gap: 10px;
}
.search-box{
 padding: 10px;
}
.search-btn{
   cursor: pointer;
}
.filter{
    display: flex;
    gap: 20px;
}

.user-card{
    padding: 10px;
    border: 1px solid black;
}